
<header class="site-header relative">
  <div class="wrapper">
    <nav class="pad-m float-r">
      <ul class="list-reset">
        <li class="inline-block"> <a class="mar-r-s" href="mailto:{{site.email}}" target="_blank">{{site.email}}</a> </li>
        <li class="inline-block"> <a class="" href="http://instagram.com/dflstitchworks">Instagram</a> </li>
      </ul>
    </nav>
    <nav class="pad-m float-l black-50">
        <ul class="list-reset">
          <li class="inline-block"><a class="mar-r-s" href="{{site.github.url}}/">About</a></li>
          <li class="inline-block"><a class="mar-r-s" href="{{site.github.url}}/products/">Products</a></li>
          <li class="inline-block"><a class="mar-r-s" href="{{site.github.url}}/ordering/">Ordering</a></li>
          <li class="inline-block"><a class="mar-r-s" href="http://dflstitchworks.wordpress.com/blog" target="_blank">Blog</a></li>
        </ul>
    </nav>

  </div>
</header>
