
<header class="site-header relative">
  <div class="wrapper">
    <nav class=" float-center text-center mar-x-s">
      <ul class="list-reset">
        <li class="inline-block"> <a class="block link black-5 pad-y-m pad-x-s" href="mailto:{{site.email}}" target="_blank">Contact</a> </li>
        <li class="inline-block"> <a class="block link black-5 pad-y-m pad-x-s " href="http://instagram.com/dflstitchworks" target="_blank">Instagram</a> </li>
      </ul>
    </nav>
    <nav class="float-center text-center mar-x-s">
        <ul class="list-reset">
          <li class="inline-block"><a class="block link bold pad-y-m pad-x-s" href="{{site.github.url}}/">About</a></li>
          <li class="inline-block"><a class="block link bold pad-y-m pad-x-s" href="{{site.github.url}}/products">Products</a></li>
          <li class="inline-block"><a class="block link bold pad-y-m pad-x-s" href="{{site.github.url}}/ordering">Ordering</a></li>
          <li class="inline-block"><a class="block link bold pad-y-m pad-x-s" href="http://dflstitchworks.wordpress.com/blog" target="_blank">Blog</a></li>
        </ul>
    </nav>

  </div>
</header>
